<html lang="en">
<body>

<div>
    <form method="POST" enctype="multipart/form-data" action="/login">
        <table>
            <tr>
                <td>Username</td>
                <td><input name="username"/></td>
            </tr>
            <tr>
                <td>Password</td>
                <td><input name="password"/></td>
            </tr>
            <tr>
                <td></td>
                <td><input type="submit" value="Go"/></td>
            </tr>
        </table>
    </form>
</div>

</body>
</html>
